@use 'styles/colors' as clr;
@use 'styles/config' as cfg;

.input {
  padding: 0.5rem;
  
  background-color: transparent;
  
  border: none;
  border-bottom: 0.1rem solid clr.$primary;

  font-size: cfg.$font-size;

  &:active, &:focus {
    outline: none;
    border: none;

    border-bottom: 0.1rem solid clr.$primary;
  }

  &::placeholder {
    color: clr.$primary;
    font-size: cfg.$font-size;
  }

  &_file {
    opacity: 0;

    width: 0;
    height: 0;

    z-index: cfg.$nigative-z-index;
  }
}