extends src/layouts/Main/index

mixin renderPageLink(path, label)
  a(href=`/${path}`).pages__link
    | #{label}

block content
  -
    const pages = [
      ['sign-in', 'Authorization'],
      ['sign-up', 'Registration'],
      ['chat', 'Chat'],
      ['settings', 'Settings'],
      ['not-found', '404 Error page'],
      ['server-error', '500 Error page']
    ]

  nav.pages
    ul.pages__list
      each page in pages
        li.pages__item
          -
            const [path, label] = page

          +renderPageLink(path, label)
      