section.auth-card
  -
    const { outlineButton, form } = children 
    
  .auth-card__content
    h1.auth-card__title !{title}
    .auth-card__form
      | !{form}
    .auth-card__button
      | !{outlineButton}