extends ../../layouts/main
include ../../components/Message/index.pug
include ../../components/Button/index.pug
include ../../components/Input/index.pug
include ../../components/RoomCard/index.pug

block content
  -
    const senders = [
      {
        name: 'John Doe',
        avatarSrc: '',
        lastMessage: {
          text: 'Lorem ipsum',
          date: '',
        }
      },
      {
        name: 'Ann White',
        avatarSrc: '',
        lastMessage: {
          text: 'hi how are you?',
          date: '',
        }
      },
    ]

  section.chat 
    .chat__rooms-list
      each sender in senders 
        +roomCard({ sender })
    .chat__room
      .chat__room-header
      .chat__room-messages 

      form.chat__form
        +input({ placeholder: 'Type your message here...', type: 'text', name: 'message' })
        +button({ type: 'submit', class: 'chat__submit' })
          | Send