extends ../../layouts/Main/index

block content
  -
    const senders = [
      {
        name: 'John Doe',
        avatarSrc: '',
        lastMessage: {
          text: 'Lorem ipsum',
          time: '12:00',
        },
        unread: 7,
      },
      {
        name: 'Ann White',
        avatarSrc: '',
        lastMessage: {
          text: 'hi how are you?',
          time: '15:45',
        }
      },
    ]

    const field = { placeholder: 'Type your message here...', type: 'text', name: 'message' }
    const formProps = { fields: [field], submitClassName: 'chat__submit', inputProps: { type: 'textarea', additionalClass: 'chat__input', placeholder: 'Type your message here...' } }
    const arrowIconPath = "../../../static/icons/arrow.svg#arrow"

  section.chat 
    .chat__rooms-list
      each sender in senders 
        +roomCard({ sender })
    .chat__room
      .chat__room-header
      .chat__room-messages 

      .chat__form
        +form(formProps)
          block button 
            svg(width="40px", height="40px").chat__arrow-icon
              use(xlink:href=arrowIconPath)  
