mixin error(params={})
  -
    const { status, text } = params

  .error 
    h1.error__status #{status}
    p.error__text #{text}

    .error__button
      +button({ outline: true })
        | Назад к чатам