$primary:   #ff6666;

$white: #FFFFFF;
$black: #000000;

$pink-10: #ffcccc;
$pink-20: #F6A2AD;
$pink-30: #F4909D;
$pink-40: #F27D8D;
$pink-50: #F06A7C;
$pink-60: #EE586C;
$pink-70: #ED455C;

$green-10: #C3DBC5;
$green-20: #BFD9C1;
$green-30: #B3D1B5;

$grey-10: #EFEFEF;