extends ../../layouts/Auth/index

block auth
  -
    const fields = [
      {
        label: 'Login',
        type: 'text',
        name: 'login',
        autocomplete: 'login',
      },
      {
        label: 'Password',
        type: 'password',
        name: 'password',
        autocomplete: 'current-password',
      },
    ]

  +authCard({ type: 'login', fields })