include ../../components/AuthCard/index.pug

-
  const fields = [
    {
      label: 'Login',
      type: 'text',
    },
    {
      label: 'Password',
      type: 'password',
    },
  ]

section.sign-in
  +authCard({ type: 'login', fields })