extends ../../layouts/main

block content
  -
    const fields = [
      {
        label: 'Login',
        type: 'text',
        name: 'login',
      },
      {
        label: 'Password',
        type: 'password',
        name: 'password',
      },
    ]
  
  section.sign-in
    +authCard({ type: 'login', fields })