include ../../components/AuthCard/index.pug

-
  const fields = [
    {
      label: 'Логин',
      type: 'text',
    },
    {
      label: 'Пароль',
      type: 'password',
    },
  ]

section.sign-in
  +authCard({ type: 'login', fields })