@use 'styles/helpers';
@use 'styles/colors' as clr;

.room-card {
  @extend %flex;

  width: 100%;

  padding: 1rem;

  border-bottom: 0.1rem solid clr.$primary;

  cursor: pointer;

  &__content {
    @extend %flex-column;
  }
}