extends ../../layouts/main

block content
  -
    const fields = [
      {
        label: 'Email',
        type: 'email',
        name: 'email',
        autocomplete: 'email',
      },
      {
        label: 'Login',
        type: 'text',
        name: 'login',
        autocomplete: 'login',
      },
      {
        label: 'Name',
        type: 'text',
        name: 'first_name',
        autocomplete: 'name',
      },
      {
        label: 'Surname',
        type: 'text',
        name: 'second_name',
        autocomplete: 'second-name',
      },
      {
        label: 'Phone',
        type: 'phone',
        name: 'phone',
        autocomplete: 'tel',
      },
      {
        label: 'Password',
        type: 'password',
        name: 'password',
        autocomplete: 'new-password',
      },
      {
        label: 'Password again',
        type: 'password',
        name: 'password_again',
        autocomplete: 'new-password',
      },
    ]

  section.sign-up
    +authCard({ type: 'signUp', fields })

